---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs?access_token=9111fa805beed5c97364c2bb94480db98cdf3f26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1490323952'
      Etag:
      - W/"0a336f85ed699a3a3b5e66cbfb125717"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - 46ac01b8c991f5f895c0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Turing-Pahlka-Posse","id":18356491,"url":"https://api.github.com/orgs/Turing-Pahlka-Posse","repos_url":"https://api.github.com/orgs/Turing-Pahlka-Posse/repos","events_url":"https://api.github.com/orgs/Turing-Pahlka-Posse/events","hooks_url":"https://api.github.com/orgs/Turing-Pahlka-Posse/hooks","issues_url":"https://api.github.com/orgs/Turing-Pahlka-Posse/issues","members_url":"https://api.github.com/orgs/Turing-Pahlka-Posse/members{/member}","public_members_url":"https://api.github.com/orgs/Turing-Pahlka-Posse/public_members{/member}","avatar_url":"https://avatars1.githubusercontent.com/u/18356491?v=3","description":"A
        Posse at Turing''s School of Software and Design set up to focus on projects
        that help those around us."}]'
  recorded_at: Fri, 24 Mar 2017 01:58:38 GMT
recorded_with: VCR 3.0.3
