---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/edilenedacruz/events?access_token=90dd49b711d3d28773137c23e7068b65809e78a8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1490507282'
      Etag:
      - W/"33f7213650cd5289e1faa3870c667fe6"
      Last-Modified:
      - Fri, 24 Mar 2017 06:10:32 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 46ac01b8c991f5f895c0
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/17166293/events?access_token=90dd49b711d3d28773137c23e7068b65809e78a8&page=2>;
        rel="next", <https://api.github.com/user/17166293/events?access_token=90dd49b711d3d28773137c23e7068b65809e78a8&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5555676295","type":"DeleteEvent","actor":{"id":17166293,"login":"edilenedacruz","display_login":"edilenedacruz","gravatar_id":"","url":"https://api.github.com/users/edilenedacruz","avatar_url":"https://avatars.githubusercontent.com/u/17166293?"},"repo":{"id":85624714,"name":"edilenedacruz/api-curious-github","url":"https://api.github.com/repos/edilenedacruz/api-curious-github"},"payload":{"ref":"tests","ref_type":"branch","pusher_type":"user"},"public":true,"created_at":"2017-03-24T06:10:32Z"},{"id":"5555674214","type":"DeleteEvent","actor":{"id":17166293,"login":"edilenedacruz","display_login":"edilenedacruz","gravatar_id":"","url":"https://api.github.com/users/edilenedacruz","avatar_url":"https://avatars.githubusercontent.com/u/17166293?"},"repo":{"id":85624714,"name":"edilenedacruz/api-curious-github","url":"https://api.github.com/repos/edilenedacruz/api-curious-github"},"payload":{"ref":"vcr","ref_type":"branch","pusher_type":"user"},"public":true,"created_at":"2017-03-24T06:09:52Z"},{"id":"5555667684","type":"PushEvent","actor":{"id":17166293,"login":"edilenedacruz","display_login":"edilenedacruz","gravatar_id":"","url":"https://api.github.com/users/edilenedacruz","avatar_url":"https://avatars.githubusercontent.com/u/17166293?"},"repo":{"id":85624714,"name":"edilenedacruz/api-curious-github","url":"https://api.github.com/repos/edilenedacruz/api-curious-github"},"payload":{"push_id":1634592969,"size":3,"distinct_size":1,"ref":"refs/heads/master","head":"3ed47fe7b768fa140813a9304c3ffc671331b383","before":"2ed26957e208315a9b3454b85586df8405876399","commits":[{"sha":"a6037482390a1214e60c29f2192455235d2b62d5","author":{"email":"edilene_cruz@yahoo.com.br","name":"Edilene"},"message":"adds
        basic styling for sanity","distinct":false,"url":"https://api.github.com/repos/edilenedacruz/api-curious-github/commits/a6037482390a1214e60c29f2192455235d2b62d5"},{"sha":"e0d4488425bdbf4069597cc89963c4fbae4523b4","author":{"email":"edilenedacruz@users.noreply.github.com","name":"Edilene"},"message":"Update
        .gitignore","distinct":false,"url":"https://api.github.com/repos/edilenedacruz/api-curious-github/commits/e0d4488425bdbf4069597cc89963c4fbae4523b4"},{"sha":"3ed47fe7b768fa140813a9304c3ffc671331b383","author":{"email":"edilenedacruz@users.noreply.github.com","name":"Edilene"},"message":"Merge
        pull request #29 from edilenedacruz/tests\n\nadds basic styling for sanity","distinct":true,"url":"https://api.github.com/repos/edilenedacruz/api-curious-github/commits/3ed47fe7b768fa140813a9304c3ffc671331b383"}]},"public":true,"created_at":"2017-03-24T06:07:42Z"},{"id":"5555667650","type":"PullRequestEvent","actor":{"id":17166293,"login":"edilenedacruz","display_login":"edilenedacruz","gravatar_id":"","url":"https://api.github.com/users/edilenedacruz","avatar_url":"https://avatars.githubusercontent.com/u/17166293?"},"repo":{"id":85624714,"name":"edilenedacruz/api-curious-github","url":"https://api.github.com/repos/edilenedacruz/api-curious-github"},"payload":{"action":"closed","number":29,"pull_request":{"url":"https://api.github.com/repos/edilenedacruz/api-curious-github/pulls/29","id":112393169,"html_url":"https://github.com/edilenedacruz/api-curious-github/pull/29","diff_url":"https://github.com/edilenedacruz/api-curious-github/pull/29.diff","patch_url":"https://github.com/edilenedacruz/api-curious-github/pull/29.patch","issue_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/issues/29","number":29,"state":"closed","locked":false,"title":"adds
        basic styling for sanity","user":{"login":"edilenedacruz","id":17166293,"avatar_url":"https://avatars1.githubusercontent.com/u/17166293?v=3","gravatar_id":"","url":"https://api.github.com/users/edilenedacruz","html_url":"https://github.com/edilenedacruz","followers_url":"https://api.github.com/users/edilenedacruz/followers","following_url":"https://api.github.com/users/edilenedacruz/following{/other_user}","gists_url":"https://api.github.com/users/edilenedacruz/gists{/gist_id}","starred_url":"https://api.github.com/users/edilenedacruz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/edilenedacruz/subscriptions","organizations_url":"https://api.github.com/users/edilenedacruz/orgs","repos_url":"https://api.github.com/users/edilenedacruz/repos","events_url":"https://api.github.com/users/edilenedacruz/events{/privacy}","received_events_url":"https://api.github.com/users/edilenedacruz/received_events","type":"User","site_admin":false},"body":"","created_at":"2017-03-24T06:03:17Z","updated_at":"2017-03-24T06:07:41Z","closed_at":"2017-03-24T06:07:41Z","merged_at":"2017-03-24T06:07:41Z","merge_commit_sha":"3ed47fe7b768fa140813a9304c3ffc671331b383","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/pulls/29/commits","review_comments_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/pulls/29/comments","review_comment_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/pulls/comments{/number}","comments_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/issues/29/comments","statuses_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/statuses/e0d4488425bdbf4069597cc89963c4fbae4523b4","head":{"label":"edilenedacruz:tests","ref":"tests","sha":"e0d4488425bdbf4069597cc89963c4fbae4523b4","user":{"login":"edilenedacruz","id":17166293,"avatar_url":"https://avatars1.githubusercontent.com/u/17166293?v=3","gravatar_id":"","url":"https://api.github.com/users/edilenedacruz","html_url":"https://github.com/edilenedacruz","followers_url":"https://api.github.com/users/edilenedacruz/followers","following_url":"https://api.github.com/users/edilenedacruz/following{/other_user}","gists_url":"https://api.github.com/users/edilenedacruz/gists{/gist_id}","starred_url":"https://api.github.com/users/edilenedacruz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/edilenedacruz/subscriptions","organizations_url":"https://api.github.com/users/edilenedacruz/orgs","repos_url":"https://api.github.com/users/edilenedacruz/repos","events_url":"https://api.github.com/users/edilenedacruz/events{/privacy}","received_events_url":"https://api.github.com/users/edilenedacruz/received_events","type":"User","site_admin":false},"repo":{"id":85624714,"name":"api-curious-github","full_name":"edilenedacruz/api-curious-github","owner":{"login":"edilenedacruz","id":17166293,"avatar_url":"https://avatars1.githubusercontent.com/u/17166293?v=3","gravatar_id":"","url":"https://api.github.com/users/edilenedacruz","html_url":"https://github.com/edilenedacruz","followers_url":"https://api.github.com/users/edilenedacruz/followers","following_url":"https://api.github.com/users/edilenedacruz/following{/other_user}","gists_url":"https://api.github.com/users/edilenedacruz/gists{/gist_id}","starred_url":"https://api.github.com/users/edilenedacruz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/edilenedacruz/subscriptions","organizations_url":"https://api.github.com/users/edilenedacruz/orgs","repos_url":"https://api.github.com/users/edilenedacruz/repos","events_url":"https://api.github.com/users/edilenedacruz/events{/privacy}","received_events_url":"https://api.github.com/users/edilenedacruz/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/edilenedacruz/api-curious-github","description":null,"fork":false,"url":"https://api.github.com/repos/edilenedacruz/api-curious-github","forks_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/forks","keys_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/keys{/key_id}","collaborators_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/teams","hooks_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/hooks","issue_events_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/issues/events{/number}","events_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/events","assignees_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/assignees{/user}","branches_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/branches{/branch}","tags_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/tags","blobs_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/git/refs{/sha}","trees_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/git/trees{/sha}","statuses_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/statuses/{sha}","languages_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/languages","stargazers_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/stargazers","contributors_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/contributors","subscribers_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/subscribers","subscription_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/subscription","commits_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/commits{/sha}","git_commits_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/git/commits{/sha}","comments_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/comments{/number}","issue_comment_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/issues/comments{/number}","contents_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/contents/{+path}","compare_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/compare/{base}...{head}","merges_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/merges","archive_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/downloads","issues_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/issues{/number}","pulls_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/pulls{/number}","milestones_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/milestones{/number}","notifications_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/labels{/name}","releases_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/releases{/id}","deployments_url":"https://api.github.com/repos/edilenedacruz/api-curious-github/deployments","created_at":"2017-03-20T20:40:00Z","updated_at":"2017-03-22T19:34:10Z","pushed_at":"2017-03-24T06:07:41Z","git_url":"git://github.com/edilenedacruz/api-curious-github.git","ssh_url":"git@github.com:edilenedacruz/api-curious-github.git","clone_url":"https://github.com/edilenedacruz/api-curious-github.git","svn_url":"https://github.com/edilenedacruz/api-curious-github","homepage":null,"size":5169,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":9,"forks":0,"open_issues":9,"watchers":0,"default_branch":"master"}},"base":{"label":"edilenedacruz:master","ref":"master","sha":"2ed26957e208315a9b3454b85586df8405876399","user":{"login":"edilenedacruz","id":17166293,"avatar_url":"https://avatars1.githubusercontent.com/u/17166293?v=3","gravatar_id":"","url":"https://api.github.com/users/edilenedacruz","html_url":"https://github.com/edilenedacruz","followers_url":"https://api.github.com/users/edilenedacruz/followers","following_url":"https://api.github.com/users/edilenedacruz/following{/other_user}","gists_url":"https:/[...]
