---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/edilenedacruz/starred?access_token=9111fa805beed5c97364c2bb94480db98cdf3f26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1490316282'
      Etag:
      - W/"4a4f8313dffa3785df0024aa51d5f01c"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 46ac01b8c991f5f895c0
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/17166293/starred?access_token=9111fa805beed5c97364c2bb94480db98cdf3f26&page=2>;
        rel="next", <https://api.github.com/user/17166293/starred?access_token=9111fa805beed5c97364c2bb94480db98cdf3f26&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":85908336,"name":"guaranty_records","full_name":"s-espinosa/guaranty_records","owner":{"login":"s-espinosa","id":10855116,"avatar_url":"https://avatars2.githubusercontent.com/u/10855116?v=3","gravatar_id":"","url":"https://api.github.com/users/s-espinosa","html_url":"https://github.com/s-espinosa","followers_url":"https://api.github.com/users/s-espinosa/followers","following_url":"https://api.github.com/users/s-espinosa/following{/other_user}","gists_url":"https://api.github.com/users/s-espinosa/gists{/gist_id}","starred_url":"https://api.github.com/users/s-espinosa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/s-espinosa/subscriptions","organizations_url":"https://api.github.com/users/s-espinosa/orgs","repos_url":"https://api.github.com/users/s-espinosa/repos","events_url":"https://api.github.com/users/s-espinosa/events{/privacy}","received_events_url":"https://api.github.com/users/s-espinosa/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/s-espinosa/guaranty_records","description":null,"fork":false,"url":"https://api.github.com/repos/s-espinosa/guaranty_records","forks_url":"https://api.github.com/repos/s-espinosa/guaranty_records/forks","keys_url":"https://api.github.com/repos/s-espinosa/guaranty_records/keys{/key_id}","collaborators_url":"https://api.github.com/repos/s-espinosa/guaranty_records/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/s-espinosa/guaranty_records/teams","hooks_url":"https://api.github.com/repos/s-espinosa/guaranty_records/hooks","issue_events_url":"https://api.github.com/repos/s-espinosa/guaranty_records/issues/events{/number}","events_url":"https://api.github.com/repos/s-espinosa/guaranty_records/events","assignees_url":"https://api.github.com/repos/s-espinosa/guaranty_records/assignees{/user}","branches_url":"https://api.github.com/repos/s-espinosa/guaranty_records/branches{/branch}","tags_url":"https://api.github.com/repos/s-espinosa/guaranty_records/tags","blobs_url":"https://api.github.com/repos/s-espinosa/guaranty_records/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/s-espinosa/guaranty_records/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/s-espinosa/guaranty_records/git/refs{/sha}","trees_url":"https://api.github.com/repos/s-espinosa/guaranty_records/git/trees{/sha}","statuses_url":"https://api.github.com/repos/s-espinosa/guaranty_records/statuses/{sha}","languages_url":"https://api.github.com/repos/s-espinosa/guaranty_records/languages","stargazers_url":"https://api.github.com/repos/s-espinosa/guaranty_records/stargazers","contributors_url":"https://api.github.com/repos/s-espinosa/guaranty_records/contributors","subscribers_url":"https://api.github.com/repos/s-espinosa/guaranty_records/subscribers","subscription_url":"https://api.github.com/repos/s-espinosa/guaranty_records/subscription","commits_url":"https://api.github.com/repos/s-espinosa/guaranty_records/commits{/sha}","git_commits_url":"https://api.github.com/repos/s-espinosa/guaranty_records/git/commits{/sha}","comments_url":"https://api.github.com/repos/s-espinosa/guaranty_records/comments{/number}","issue_comment_url":"https://api.github.com/repos/s-espinosa/guaranty_records/issues/comments{/number}","contents_url":"https://api.github.com/repos/s-espinosa/guaranty_records/contents/{+path}","compare_url":"https://api.github.com/repos/s-espinosa/guaranty_records/compare/{base}...{head}","merges_url":"https://api.github.com/repos/s-espinosa/guaranty_records/merges","archive_url":"https://api.github.com/repos/s-espinosa/guaranty_records/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/s-espinosa/guaranty_records/downloads","issues_url":"https://api.github.com/repos/s-espinosa/guaranty_records/issues{/number}","pulls_url":"https://api.github.com/repos/s-espinosa/guaranty_records/pulls{/number}","milestones_url":"https://api.github.com/repos/s-espinosa/guaranty_records/milestones{/number}","notifications_url":"https://api.github.com/repos/s-espinosa/guaranty_records/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/s-espinosa/guaranty_records/labels{/name}","releases_url":"https://api.github.com/repos/s-espinosa/guaranty_records/releases{/id}","deployments_url":"https://api.github.com/repos/s-espinosa/guaranty_records/deployments","created_at":"2017-03-23T04:50:55Z","updated_at":"2017-03-23T15:24:13Z","pushed_at":"2017-03-23T04:52:36Z","git_url":"git://github.com/s-espinosa/guaranty_records.git","ssh_url":"git@github.com:s-espinosa/guaranty_records.git","clone_url":"https://github.com/s-espinosa/guaranty_records.git","svn_url":"https://github.com/s-espinosa/guaranty_records","homepage":null,"size":28,"stargazers_count":1,"watchers_count":1,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":1,"default_branch":"decorator","permissions":{"admin":false,"push":false,"pull":true}},{"id":81853032,"name":"career-development-curriculum","full_name":"turingschool/career-development-curriculum","owner":{"login":"turingschool","id":7934292,"avatar_url":"https://avatars3.githubusercontent.com/u/7934292?v=3","gravatar_id":"","url":"https://api.github.com/users/turingschool","html_url":"https://github.com/turingschool","followers_url":"https://api.github.com/users/turingschool/followers","following_url":"https://api.github.com/users/turingschool/following{/other_user}","gis[...]
