---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=90dd49b711d3d28773137c23e7068b65809e78a8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1490507282'
      Etag:
      - W/"df1cf02d7571d18e8ed9874e27dea056"
      Last-Modified:
      - Sat, 25 Mar 2017 00:41:30 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 46ac01b8c991f5f895c0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"edilenedacruz","id":17166293,"avatar_url":"https://avatars1.githubusercontent.com/u/17166293?v=3","gravatar_id":"","url":"https://api.github.com/users/edilenedacruz","html_url":"https://github.com/edilenedacruz","followers_url":"https://api.github.com/users/edilenedacruz/followers","following_url":"https://api.github.com/users/edilenedacruz/following{/other_user}","gists_url":"https://api.github.com/users/edilenedacruz/gists{/gist_id}","starred_url":"https://api.github.com/users/edilenedacruz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/edilenedacruz/subscriptions","organizations_url":"https://api.github.com/users/edilenedacruz/orgs","repos_url":"https://api.github.com/users/edilenedacruz/repos","events_url":"https://api.github.com/users/edilenedacruz/events{/privacy}","received_events_url":"https://api.github.com/users/edilenedacruz/received_events","type":"User","site_admin":false,"name":"Edilene","company":null,"blog":null,"location":null,"email":"hello@edilene.io","hireable":true,"bio":null,"public_repos":51,"public_gists":9,"followers":5,"following":3,"created_at":"2016-02-10T19:17:20Z","updated_at":"2017-03-25T00:41:30Z"}'
  recorded_at: Sun, 26 Mar 2017 05:06:35 GMT
recorded_with: VCR 3.0.3
