---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/edilenedacruz/received_events?access_token=90dd49b711d3d28773137c23e7068b65809e78a8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1490507282'
      Etag:
      - W/"b80215b53d48f6bd82b259f2c1b6030d"
      Last-Modified:
      - Thu, 23 Mar 2017 02:27:11 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 46ac01b8c991f5f895c0
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/17166293/received_events?access_token=90dd49b711d3d28773137c23e7068b65809e78a8&page=2>;
        rel="next", <https://api.github.com/user/17166293/received_events?access_token=90dd49b711d3d28773137c23e7068b65809e78a8&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5546782351","type":"WatchEvent","actor":{"id":19553401,"login":"maxglassie","display_login":"maxglassie","gravatar_id":"","url":"https://api.github.com/users/maxglassie","avatar_url":"https://avatars.githubusercontent.com/u/19553401?"},"repo":{"id":83113172,"name":"briancaffey/reddit-graph-analysis","url":"https://api.github.com/repos/briancaffey/reddit-graph-analysis"},"payload":{"action":"started"},"public":true,"created_at":"2017-03-23T02:27:11Z"},{"id":"5546779142","type":"WatchEvent","actor":{"id":19553401,"login":"maxglassie","display_login":"maxglassie","gravatar_id":"","url":"https://api.github.com/users/maxglassie","avatar_url":"https://avatars.githubusercontent.com/u/19553401?"},"repo":{"id":67242017,"name":"marlabrizel/slack-weather","url":"https://api.github.com/repos/marlabrizel/slack-weather"},"payload":{"action":"started"},"public":true,"created_at":"2017-03-23T02:26:23Z"},{"id":"5546774879","type":"WatchEvent","actor":{"id":19553401,"login":"maxglassie","display_login":"maxglassie","gravatar_id":"","url":"https://api.github.com/users/maxglassie","avatar_url":"https://avatars.githubusercontent.com/u/19553401?"},"repo":{"id":41112883,"name":"democracyworks/voter-registration-http-api","url":"https://api.github.com/repos/democracyworks/voter-registration-http-api"},"payload":{"action":"started"},"public":true,"created_at":"2017-03-23T02:25:19Z","org":{"id":1373557,"login":"democracyworks","gravatar_id":"","url":"https://api.github.com/orgs/democracyworks","avatar_url":"https://avatars.githubusercontent.com/u/1373557?"}},{"id":"5546773451","type":"WatchEvent","actor":{"id":19553401,"login":"maxglassie","display_login":"maxglassie","gravatar_id":"","url":"https://api.github.com/users/maxglassie","avatar_url":"https://avatars.githubusercontent.com/u/19553401?"},"repo":{"id":27964304,"name":"gigasquid/wonderland-clojure-katas","url":"https://api.github.com/repos/gigasquid/wonderland-clojure-katas"},"payload":{"action":"started"},"public":true,"created_at":"2017-03-23T02:24:55Z"},{"id":"5530751939","type":"CreateEvent","actor":{"id":19553401,"login":"maxglassie","display_login":"maxglassie","gravatar_id":"","url":"https://api.github.com/users/maxglassie","avatar_url":"https://avatars.githubusercontent.com/u/19553401?"},"repo":{"id":85657821,"name":"maxglassie/apicurious","url":"https://api.github.com/repos/maxglassie/apicurious"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":"APICurious
        - A Turing School Module 3 Project","pusher_type":"user"},"public":true,"created_at":"2017-03-21T04:06:31Z"},{"id":"5521631651","type":"ForkEvent","actor":{"id":19553401,"login":"maxglassie","display_login":"maxglassie","gravatar_id":"","url":"https://api.github.com/users/maxglassie","avatar_url":"https://avatars.githubusercontent.com/u/19553401?"},"repo":{"id":1046208,"name":"functional-koans/clojure-koans","url":"https://api.github.com/repos/functional-koans/clojure-koans"},"payload":{"forkee":{"id":85493941,"name":"clojure-koans","full_name":"maxglassie/clojure-koans","owner":{"login":"maxglassie","id":19553401,"avatar_url":"https://avatars2.githubusercontent.com/u/19553401?v=3","gravatar_id":"","url":"https://api.github.com/users/maxglassie","html_url":"https://github.com/maxglassie","followers_url":"https://api.github.com/users/maxglassie/followers","following_url":"https://api.github.com/users/maxglassie/following{/other_user}","gists_url":"https://api.github.com/users/maxglassie/gists{/gist_id}","starred_url":"https://api.github.com/users/maxglassie/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/maxglassie/subscriptions","organizations_url":"https://api.github.com/users/maxglassie/orgs","repos_url":"https://api.github.com/users/maxglassie/repos","events_url":"https://api.github.com/users/maxglassie/events{/privacy}","received_events_url":"https://api.github.com/users/maxglassie/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/maxglassie/clojure-koans","description":"A
        set of exercises for learning Clojure","fork":true,"url":"https://api.github.com/repos/maxglassie/clojure-koans","forks_url":"https://api.github.com/repos/maxglassie/clojure-koans/forks","keys_url":"https://api.github.com/repos/maxglassie/clojure-koans/keys{/key_id}","collaborators_url":"https://api.github.com/repos/maxglassie/clojure-koans/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/maxglassie/clojure-koans/teams","hooks_url":"https://api.github.com/repos/maxglassie/clojure-koans/hooks","issue_events_url":"https://api.github.com/repos/maxglassie/clojure-koans/issues/events{/number}","events_url":"https://api.github.com/repos/maxglassie/clojure-koans/events","assignees_url":"https://api.github.com/repos/maxglassie/clojure-koans/assignees{/user}","branches_url":"https://api.github.com/repos/maxglassie/clojure-koans/branches{/branch}","tags_url":"https://api.github.com/repos/maxglassie/clojure-koans/tags","blobs_url":"https://api.github.com/repos/maxglassie/clojure-koans/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/maxglassie/clojure-koans/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/maxglassie/clojure-koans/git/refs{/sha}","trees_url":"https://api.github.com/repos/maxglassie/clojure-koans/git/trees{/sha}","statuses_url":"https://api.github.com/repos/maxglassie/clojure-koans/statuses/{sha}","languages_url":"https://api.github.com/repos/maxglassie/clojure-koans/languages","stargazers_url":"https://api.github.com/repos/maxglassie/clojure-koans/stargazers","contributors_url":"https://api.github.com/repos/maxglassie/clojure-koans/contributors","subscribers_url":"https://api.github.com/repos/maxglassie/clojure-koans/subscribers","subscription_url":"https://api.github.com/repos/maxglassie/clojure-koans/subscription","commits_url":"https://api.github.com/repos/maxglassie/clojure-koans/commits{/sha}","git_commits_url":"https://api.github.com/repos/maxglassie/clojure-koans/git/commits{/sha}","comments_url":"https://api.github.com/repos/maxglassie/clojure-koans/comments{/number}","issue_comment_url":"https://api.github.com/repos/maxglassie/clojure-koans/issues/comments{/number}","contents_url":"https://api.github.com/repos/maxglassie/clojure-koans/contents/{+path}","compare_url":"https://api.github.com/repos/maxglassie/clojure-koans/compare/{base}...{head}","merges_url":"https://api.github.com/repos/maxglassie/clojure-koans/merges","archive_url":"https://api.github.com/repos/maxglassie/clojure-koans/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/maxglassie/clojure-koans/downloads","issues_url":"https://api.github.com/repos/maxglassie/clojure-koans/issues{/number}","pulls_url":"https://api.github.com/repos/maxglassie/clojure-koans/pulls{/number}","milestones_url":"https://api.github.com/repos/maxglassie/clojure-koans/milestones{/number}","notifications_url":"https://api.github.com/repos/maxglassie/clojure-koans/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/maxglassie/clojure-koans/labels{/name}","releases_url":"https://api.github.com/repos/maxglassie/clojure-koans/releases{/id}","deployments_url":"https://api.github.com/repos/maxglassie/clojure-koans/deployments","created_at":"2017-03-19T17:07:33Z","updated_at":"2017-03-18T20:38:36Z","pushed_at":"2017-02-10T15:03:09Z","git_url":"git://github.com/maxglassie/clojure-koans.git","ssh_url":"git@github.com:maxglassie/clojure-koans.git","clone_url":"https://github.com/maxglassie/clojure-koans.git","svn_url":"https://github.com/maxglassie/clojure-koans","homepage":"","size":262,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","public":true}},"public":true,"created_at":"2017-03-19T17:07:33Z","org":{"id":458337,"login":"functional-koans","gravatar_id":"","url":"https://api.github.com/orgs/functional-koans","avatar_url":"https://avatars.githubusercontent.com/u/458337?"}},{"id":"5520242714","type":"ForkEvent","actor":{"id":19553401,"login":"maxglassie","display_login":"maxglassie","gravatar_id":"","url":"https://api.github.com/users/maxglassie","avatar_url":"https://avatars.githubusercontent.com/u/19553401?"},"r[...]
