---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/edilenedacruz/repos?access_token=90dd49b711d3d28773137c23e7068b65809e78a8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1490507282'
      Etag:
      - W/"91163e0031ef2350dcc949d7037c6be5"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 46ac01b8c991f5f895c0
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/17166293/repos?access_token=90dd49b711d3d28773137c23e7068b65809e78a8&page=2>;
        rel="next", <https://api.github.com/user/17166293/repos?access_token=90dd49b711d3d28773137c23e7068b65809e78a8&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":71900887,"name":"99_bottles","full_name":"edilenedacruz/99_bottles","owner":{"login":"edilenedacruz","id":17166293,"avatar_url":"https://avatars1.githubusercontent.com/u/17166293?v=3","gravatar_id":"","url":"https://api.github.com/users/edilenedacruz","html_url":"https://github.com/edilenedacruz","followers_url":"https://api.github.com/users/edilenedacruz/followers","following_url":"https://api.github.com/users/edilenedacruz/following{/other_user}","gists_url":"https://api.github.com/users/edilenedacruz/gists{/gist_id}","starred_url":"https://api.github.com/users/edilenedacruz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/edilenedacruz/subscriptions","organizations_url":"https://api.github.com/users/edilenedacruz/orgs","repos_url":"https://api.github.com/users/edilenedacruz/repos","events_url":"https://api.github.com/users/edilenedacruz/events{/privacy}","received_events_url":"https://api.github.com/users/edilenedacruz/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/edilenedacruz/99_bottles","description":null,"fork":false,"url":"https://api.github.com/repos/edilenedacruz/99_bottles","forks_url":"https://api.github.com/repos/edilenedacruz/99_bottles/forks","keys_url":"https://api.github.com/repos/edilenedacruz/99_bottles/keys{/key_id}","collaborators_url":"https://api.github.com/repos/edilenedacruz/99_bottles/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/edilenedacruz/99_bottles/teams","hooks_url":"https://api.github.com/repos/edilenedacruz/99_bottles/hooks","issue_events_url":"https://api.github.com/repos/edilenedacruz/99_bottles/issues/events{/number}","events_url":"https://api.github.com/repos/edilenedacruz/99_bottles/events","assignees_url":"https://api.github.com/repos/edilenedacruz/99_bottles/assignees{/user}","branches_url":"https://api.github.com/repos/edilenedacruz/99_bottles/branches{/branch}","tags_url":"https://api.github.com/repos/edilenedacruz/99_bottles/tags","blobs_url":"https://api.github.com/repos/edilenedacruz/99_bottles/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/edilenedacruz/99_bottles/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/edilenedacruz/99_bottles/git/refs{/sha}","trees_url":"https://api.github.com/repos/edilenedacruz/99_bottles/git/trees{/sha}","statuses_url":"https://api.github.com/repos/edilenedacruz/99_bottles/statuses/{sha}","languages_url":"https://api.github.com/repos/edilenedacruz/99_bottles/languages","stargazers_url":"https://api.github.com/repos/edilenedacruz/99_bottles/stargazers","contributors_url":"https://api.github.com/repos/edilenedacruz/99_bottles/contributors","subscribers_url":"https://api.github.com/repos/edilenedacruz/99_bottles/subscribers","subscription_url":"https://api.github.com/repos/edilenedacruz/99_bottles/subscription","commits_url":"https://api.github.com/repos/edilenedacruz/99_bottles/commits{/sha}","git_commits_url":"https://api.github.com/repos/edilenedacruz/99_bottles/git/commits{/sha}","comments_url":"https://api.github.com/repos/edilenedacruz/99_bottles/comments{/number}","issue_comment_url":"https://api.github.com/repos/edilenedacruz/99_bottles/issues/comments{/number}","contents_url":"https://api.github.com/repos/edilenedacruz/99_bottles/contents/{+path}","compare_url":"https://api.github.com/repos/edilenedacruz/99_bottles/compare/{base}...{head}","merges_url":"https://api.github.com/repos/edilenedacruz/99_bottles/merges","archive_url":"https://api.github.com/repos/edilenedacruz/99_bottles/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/edilenedacruz/99_bottles/downloads","issues_url":"https://api.github.com/repos/edilenedacruz/99_bottles/issues{/number}","pulls_url":"https://api.github.com/repos/edilenedacruz/99_bottles/pulls{/number}","milestones_url":"https://api.github.com/repos/edilenedacruz/99_bottles/milestones{/number}","notifications_url":"https://api.github.com/repos/edilenedacruz/99_bottles/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/edilenedacruz/99_bottles/labels{/name}","releases_url":"https://api.github.com/repos/edilenedacruz/99_bottles/releases{/id}","deployments_url":"https://api.github.com/repos/edilenedacruz/99_bottles/deployments","created_at":"2016-10-25T13:41:35Z","updated_at":"2016-10-25T13:42:08Z","pushed_at":"2016-10-25T13:42:07Z","git_url":"git://github.com/edilenedacruz/99_bottles.git","ssh_url":"git@github.com:edilenedacruz/99_bottles.git","clone_url":"https://github.com/edilenedacruz/99_bottles.git","svn_url":"https://github.com/edilenedacruz/99_bottles","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":78127344,"name":"advanced_enums","full_name":"edilenedacruz/advanced_enums","owner":{"login":"edilenedacruz","id":17166293,"avatar_url":"https://avatars1.githubusercontent.com/u/17166293?v=3","gravatar_id":"","url":"https://api.github.com/users/edilenedacruz","html_url":"https://github.com/edilenedacruz","followers_url":"https://api.github.com/users/edilenedacruz/followers","following_url":"https://api.github.com/users/edilenedacruz/following{/other_user}","gists_url":"https://api.g[...]
