---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/edilenedacruz/followers?access_token=9111fa805beed5c97364c2bb94480db98cdf3f26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1490316282'
      Etag:
      - W/"a771d4576aea689c9c76a2ef656b4f10"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 46ac01b8c991f5f895c0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Carmer","id":9501766,"avatar_url":"https://avatars0.githubusercontent.com/u/9501766?v=3","gravatar_id":"","url":"https://api.github.com/users/Carmer","html_url":"https://github.com/Carmer","followers_url":"https://api.github.com/users/Carmer/followers","following_url":"https://api.github.com/users/Carmer/following{/other_user}","gists_url":"https://api.github.com/users/Carmer/gists{/gist_id}","starred_url":"https://api.github.com/users/Carmer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Carmer/subscriptions","organizations_url":"https://api.github.com/users/Carmer/orgs","repos_url":"https://api.github.com/users/Carmer/repos","events_url":"https://api.github.com/users/Carmer/events{/privacy}","received_events_url":"https://api.github.com/users/Carmer/received_events","type":"User","site_admin":false},{"login":"Cdale3","id":20077283,"avatar_url":"https://avatars0.githubusercontent.com/u/20077283?v=3","gravatar_id":"","url":"https://api.github.com/users/Cdale3","html_url":"https://github.com/Cdale3","followers_url":"https://api.github.com/users/Cdale3/followers","following_url":"https://api.github.com/users/Cdale3/following{/other_user}","gists_url":"https://api.github.com/users/Cdale3/gists{/gist_id}","starred_url":"https://api.github.com/users/Cdale3/starred{/owner}{/repo}","subscript[...]
