<div class="dashboard" style="width:800px; margin: 0 auto;">
  <h1>Followers</h1>
    <% @followers.map do |follower| %>
      <div>
      <%= image_tag follower.avatar_url, class: "img-rounded" %>
      <a href="<%= follower.html_url %>"><%= follower.login %></a>
      <br>
      <hr>
      </div>
    <% end %>
  <center><%= link_to "Return to Dashboard", dashboard_index_path, class: "button" %></center>
<div class="dashboard" style="width:800px; margin: 0 auto;">
