<div class="dashboard" style="width:800px; margin: 0 auto;">
<h1>Following</h1>

<% @following.map do |user| %>
  <div>
  <p><%= image_tag user.avatar_url, class: "img-rounded" %>  <a href="<%= user.html_url %>" ><%= user.login %></a></p>
  </div>
  <hr>
<% end %>
<center><%= link_to "Return to Dashboard", dashboard_index_path, class: "button" %></center>
<div class="dashboard" style="width:800px; margin: 0 auto;">
